<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/answers.css">
    <title>Answer Log</title>
    <link rel="shortcut icon" href="./assets/ts.png" type="image/x-icon">

</head>

<body>
    <%- include('../partials/nav.ejs') %>

    <h1>Answer Log</h1>

    <% for( let i = 0; i < answers.length; i++ ) { %>
    <div class="answer">
        <h3><span>Answer: </span> <%= answers[i].answer %></h3>
        <h3><span>Level: </span> <%= answers[i].level %></h3>
        <h3><span>IsCorrect: </span><%= answers[i].isCorrect %></h3>
        <h3> <span>User : </span><%= answers[i].userEmail %> </h3>
        <h3><span>Time: </span><%= answers[i].createdAt %></h3>
    </div>
    <% } %>
</body>

</html>