<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/admin.css">
    <title>Admin Dashboard</title>
    <link rel="shortcut icon" href="./assets/ts.png" type="image/x-icon">

</head>

<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Users</h1>

    <% for( let i = 0; i < users.length; i++ ) { %>
    <div class="user">
        <p> <span>Name: </span> <%= users[i].name %> </p>
        <p> <span>Display Name: </span><%= users[i].displayName %> </p>
        <p> <span>Email: </span><%= users[i].email %> </p>
        <p> <span>Points: </span> <%= users[i].points %> </p>
        <p> <span>Banned: </span> <%= users[i].isBanned %> </p>
        <p> <span>NC:</span> <%= users[i].isNC %> </p>

        <br>
        <div style="display: flex;">
            <form action="/admin/ban" method="post">
                <input type="hidden" name="email" value="<%= users[i].email %>">
                <button type="submit">Ban</button>
            </form>
            <form action="/admin/unban" method="post">
                <input type="hidden" name="email" value="<%= users[i].email %>">
                <button type="submit">Unban</button>
            </form>
            <form action="/answers/user/<%= users[i].email %>" method="get">
                <button type="submit">View Answers</button>
            </form>
        </div>

    </div>
    <% } %>

</body>
<script></script>

</html>