<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="stylesheet" href="css/dashboard.css">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="./assets/ts.png" type="image/x-icon">

</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <div class="loader">
        <svg version="1.1" id="L1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <circle fill="none" stroke="#16e16e" stroke-width="6" stroke-miterlimit="15" stroke-dasharray="14.2472,14.2472" cx="50" cy="50" r="47">
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="5s" from="0 50 50" to="360 50 50" repeatCount="indefinite" />
            </circle>
            <circle fill="none" stroke="#16e16e" stroke-width="1" stroke-miterlimit="10" stroke-dasharray="10,10" cx="50" cy="50" r="39">
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="5s" from="0 50 50" to="-360 50 50" repeatCount="indefinite" />
            </circle>
        </svg>
    </div>
    <div class="dashboard">

        <h1>Level <span> #<%= level.level.rich_text[0].text.content%> </span>
        </h1>
        <% if (level.question.rich_text[0]) { %>
        <p class="ques"> <%- level.question.rich_text[0].text.content %> </p>
        <% } %>

        <% if (level.image.rich_text[0]) { %>
        <img src="<%= level.image.rich_text[0].text.content  %> ">
        <% } %>
        <br><br>
        <% if (level.file.rich_text[0]) { %>
        <a class="file" target="_blank" href='<%= level.file.rich_text[0].text.content%>'>File</a>
        <% } %>
        <form id="ansForm" onsubmit="load()">
            <input name="level" id="level" value="<%= level.level.rich_text[0].text.content %>" hidden>
            <input type="text" name="answer" id="answer" required autocomplete="off" placeholder="Answer"> <br>
            <div>
                <button type="submit" id="subBtn">Submit</button>
            </div>

        </form>

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="js/submit.js"></script>
<script>
    var loader = document.querySelector('.loader');
    window.onload = setTimeout(function () {
        loader.style.display = 'none';
    }, 1500);
    var button = document.querySelector('#subBtn')

    function load() {
        this.disabled = true;
        this.innerHTML = `
            <div class="loader2">
            </div>
        `
        this.style.cursor = "not-allowed";
        setTimeout(() => {
            this.disabled = false;
            this.innerHTML = "Submit";
            this.style.cursor = "pointer";
        }, 7000);
    }
    button.addEventListener('click', load)
</script>


</html>
<% if (level.codeComment.rich_text[0]) { %>
<!-- <%= level.codeComment.rich_text[0].text.content %>-->
<% } %>