<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="shortcut icon" href="./assets/ts.png" type="image/x-icon">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

   body {
       background-color: black;
       font-family: 'Outfit', sans-serif;
       color: #eee;
   }
   h1{
        color: #16e16e;
        font-size: 3.5vw;
        font-weight: bold;
        letter-spacing: 1px;
        margin: -1.5vw 5vw;
   }
   .user-info{
       margin-left: 5vw;
   }
</style>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>
        Profile
    </h1>
    <br>
    <div class="user-info">
        <h2>
            Name: <%= userLog.name %>
        </h2>
        <h2>
            Email: <%= userLog.email %>
        </h2>
        <h2>
            Current Level: <%= currentLevel %>
        </h2>
        <h2>
            Points: <%= currentPoints %>
        </h2>
        <br>
        <button class="logout">
            Logout
        </button>
    </div>
</body>
<script>
    document.querySelector('.logout').addEventListener('click', () => {
        window.location.href = '/logout';
    })
</script>
</html>